<?xml version="1.0" encoding="UTF-8"?>
<formatter-config xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions">
    <formatter-settings>
        <space-end-punctuation language="en" code="." space="2in"/>
        <!-- Other global formatter settings can be placed here if needed -->
    </formatter-settings>
    <!-- Other sections like <pdf-settings>, <font-settings> etc. would go here if needed -->
</formatter-config>